@model SchedulerWebApp.Models.AppointmentModel

@{
    ViewBag.Title = "CreateAppointment";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*<h2>CreateAppointment</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>AppointmentModel</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
                @Html.LabelFor(model => model.AppointmentID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AppointmentID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AppointmentID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model => model.CustomerID, new SelectList(ViewBag.CustomerList, "Text", "Value"));
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control", id = "Start", autocomplete="off" } })
                    @*@Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })*@
                <!--<input asp-for="Start" id="Start" type="text" class="form-control" autocomplete="off"--> @*value="@DateTime.Now.ToString("yyyy-MM-dd hh:mm")"*@ <!--/>
                <span asp-validation-for="Start" class="text-danger"></span>-->
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">*@
                @*@Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })*@
                <!--<input asp-for="End" id="datetimepicker_end" type="text" class="form-control"--> @*value="@DateTime.Now.ToString("yyyy-MM-dd hh:mm")"*@ <!--/>
                <span asp-validation-for="End" class="text-danger"></span>
            </div>-->
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    @*<script src="~/Scripts/jquery.datetimepicker.js"></script>*@
    <script>
        $(function () {
            $("#Start").datetimepicker({
                //format: 'd/m/Y H:i',
                //lang:'en',
                onGenerate: function (ct) {
                    jQuery(this).find('.xdsoft_date.xdsoft_weekend')
                        .addClass('xdsoft_disabled');
                },
                onShow: function (ct) {
                    this.setOptions({
                        minDate: 0
                        //minDate: 1//,
                        //minTime: 0
                    //    maxDate: jQuery('datetimepicker_end').val() ? jQuery('datetimepicker_end'):false
                    })
                },
                onChangeDateTime: function () {

                },
                
                weekends: ['01.01.2014', '02.01.2014', '03.01.2014', '04.01.2014', '05.01.2014', '06.01.2014'],
                allowTimes: ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00'],
                timepicker: true,
                timepickerScrollbar: false
            });
        });
    </script>
    @*<script>
        $(function () {
            $("#datetimepicker_end").datetimepicker({
                onGenerate: function (ct) {
                    jQuery(this).find('.xdsoft_date.xdsoft_weekend')
                        .addClass('xdsoft_disabled');
                },
                onShow: function (ct) {
                    this.setOptions({
                        minDate: jQuery('datetimepicker_start').val() ? jQuery('datetimepicker_start') : false
                    })
                },
                weekends: ['01.01.2014', '02.01.2014', '03.01.2014', '04.01.2014', '05.01.2014', '06.01.2014'],
                timepicker: true,
                timepickerScrollbar:false
            });
        });
    </script>*@
    <!--<script>-->
        @*const { start } = require("@popperjs/core");*@

        <!--$(function () {
            /**
             * we declare a variable here so that we can use it within both our datepicker onChangeDateTime functions
             * this var will hold the time of delivery + 1hour and will be used in the collection picker when both delivery and collection dates are the same
             */
            var setMinTime = "";

            //Delivery - DatePicker1
            $('#datetimepicker_start').datetimepicker({
                inline: true,
                formatDate: 'Y/m/d',
                dayOfWeekStart: 0,
                onGenerate: function (ct) {
                    jQuery(this).find('.xdsoft_date.xdsoft_weekend')
                        .addClass('xdsoft_disabled');
                },
                lang: 'en',
                allowTimes: ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00'],
                defaultSelect: false,
                onChangeDateTime: function (startDateSelected) {

                    //when we change Date in delivery picker, we set the collection picker to have this date as minimum
                    $("#datetimepicker_end").datetimepicker({
                        //val: startDateSelected
                        value: startDateSelected
                        //minDate: startDateSelected,
                        //maxDate: startDateSelected
                    });

                    // get the time from delivery picker and add 1 hour, so we can set minTime in collection picker if needed
                    var curTimePlusOneHour = startDateSelected.getHours() + 1;
                    setMinTime = curTimePlusOneHour.toString() + ":00";
                }
            }); //End of delivery datepicker

            //Collection - DatePicker2
            $('#datetimepicker_end').datetimepicker({
                inline: true,
                formatDate: 'Y/m/d',
                dayOfWeekStart: 0,
                onGenerate: function (ct) {
                    jQuery(this).find('.xdsoft_date.xdsoft_weekend')
                        .addClass('xdsoft_disabled');
                },
                lang: 'en',
                allowTimes: ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00'],
                defaultSelect: false,
                onChangeDateTime: function (endDateSelected) {

                    //set the maxDate of delivery picker according to our collection picked day
                    $("#datetimepicker_start").datetimepicker({
                        /*val: endDateSelected*/
                        value: endDateSelected
                        //minDate: endDateSelected,
                        //maxDate: endDateSelected
                    });

                    //get the value of the dates without time

                    //first we gate the value of the selected date
                    var deliveryDate = $('#datetimepicker_start').val();
                    //deliveryDate is in format "2015/08/06 14:08",and is a string so we use split to take only the date without the time
                    var deliveryDateArr = deliveryDate.split(' ');

                    // same as above
                    var collectionDate = $('#datetimepicker_end').val();
                    var collectionDateArr = collectionDate.split(' ');

                    //if same date also set minTime
                    if (deliveryDateArr[0] === collectionDateArr[0]) {
                        $("#datetimepicker_end").datetimepicker({
                            minTime: setMinTime
                        });
                    } else {
                        $("#datetimepicker_end").datetimepicker({
                            minTime: "09:00"
                        });
                    } //End of if..else..
                }
            }); //End of collection datepicker

        });
    </script>-->
    

}
