@model SchedulerWebApp.Models.AppointmentModel

@{
    ViewBag.Title = "Edit Appointment";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Edit Appointment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CustomerID, new SelectList(ViewBag.CustomerList, "Text", "Value"))
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control", id = "Start", @readonly = "true", autocomplete = "off" } })
            </div>
        </div>
        <div class="form-group" style="display:none">
            @*set display:none to make field invisible - need AppointmentID to be unseen/uneditable, but valid to make CustomerProcessor update logic work*@
            @Html.LabelFor(model => model.AppointmentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppointmentID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AppointmentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" onclick="return validateDateTime()" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ViewAppointments")
</div>

<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css" />


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $("#Start").datetimepicker({
                closeOnWithoutClick: false,
                closeOnDateSelect: false,
                validateOnBlur: false,
                minDate: 0,
                defaultTime: '08:00',

                onGenerate: function (ct) {
                    jQuery(this).find('.xdsoft_date.xdsoft_weekend')
                        .addClass('xdsoft_disabled');
                },


                weekends: ['01.01.2014', '02.01.2014', '03.01.2014', '04.01.2014', '05.01.2014', '06.01.2014'],
                allowTimes: ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00'],
                timepicker: true,
                timepickerScrollbar: false

            });

        });
    </script>
    <script>
        function validateDateTime() {

            let testStartTime = new Date($('#Start').val()).getTime();
            let testStartDate = new Date($('#Start').val());
            let testStartHour = new Date($('#Start').val()).getHours();
            let testStartDay = new Date($('#Start').val()).getDay();
            let currentDate = new Date();
            let currentTime = new Date().getTime();

            if (testStartDate < currentDate) {
                alert("Appointment start date and time cannot be before the current date and time.");
                $("#Start").datetimepicker('reset');
                return false;
            }
            if (testStartDate == currentDate) {
                if (testStartTime < currentTime) {
                    alert("Appointment start time cannot be before the current time.");
                    $("#Start").datetimepicker('reset');
                    return false;
                }
            }
            if (!((0 < testStartDay) && (testStartDay < 6))) {
                alert("Selected date must be between Monday through Friday.");
                $("#Start").datetimepicker('reset');
                return false;
            }
            if (((testStartHour < 8) || (testStartHour > 17))) {
                alert("Selected time must be between 8am and 5pm. Please select a time from the picker.");
                $("#Start").datetimepicker('reset');
                return false;
            } else {
                return true;
            }
        }
    </script>
}