@model SchedulerWebApp.Models.ReportModel

@{
    ViewBag.Title = "Create a New Report";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Create a New Report</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Beginning, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Beginning, new { htmlAttributes = new { @class = "form-control", id = "StartPicker", @readonly = "true", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Beginning, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control", id = "EndPicker", @readonly = "true", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick="validateDateTime()" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home Page", "Index")
</div>

<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css" />

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        jQuery("#StartPicker").datetimepicker({
            closeOnWithoutClick: false,
            closeOnDateSelect: true,
            validateOnBlur: false,
            defaultTime: '00:00',
            timepicker: false,
        });
    </script>

    <script>
        $(function () {
            $("#EndPicker").datetimepicker({
                closeOnWithoutClick: false,
                closeOnDateSelect: true,
                validateOnBlur: false,
                defaultTime: '23:59',
                timepicker: false,
            });
        });
    </script>

    <script>
        function validateDateTime() {
            let StartPicker = new Date($('#StartPicker').val());
            let EndPicker = new Date($('#EndPicker').val());

            if (StartPicker > EndPicker) {
                alert("Selected Start Date must be before selected End Date.");
                $("#StartPicker").datetimepicker('reset');
                $("#StartPicker").datetimepicker('close');
                $("#EndPicker").datetimepicker('reset');
                $("#EndPicker").datetimepicker('close');
            }
            //} else {
            //    return false;
            //}
        }
    </script>
}