@model IEnumerable<SchedulerWebApp.Models.AppointmentModel>

@{
    ViewBag.Title = "Report Results";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Report Results</h2>

<p>
    Report generated at: @ViewBag.Timestamp
</p> 
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Home Page", "Index")
</div>
