@model IEnumerable<SchedulerWebApp.Models.AppointmentModel>

@{
    ViewBag.Title = "View Appointments";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>View Appointments</h2>

<p>
    @Html.ActionLink("Create New", "CreateAppointment")
</p>

<form asp-controller="MainController" asp-action="ViewAppointments">
    <p>
        User Name: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.AppointmentID)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Type)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.End)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAppointment", new { id=item.AppointmentID }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "DeleteAppointment", new { id=item.AppointmentID })
        </td>
    </tr>
}

</table>
