@model IEnumerable<SchedulerWebApp.Models.CustomerModel>

@{
    ViewBag.Title = "ViewCustomers";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>View All Customers</h2>

<p>
    @Html.ActionLink("Create New", "CreateCustomer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCustomer", new { id=item.customerId }, null) |
            @Html.ActionLink("Delete", "DeleteCustomer", new { id=item.customerId })
        </td>
    </tr>
}

</table>
